.post {
    background-color: white;
    padding: 12px;
    margin-bottom: 12spx;
    border-radius: 8px;
    margin-top: 16px;
}

.post-header {
    display: flex;
    margin-bottom: 8px;
}

.post-info {
    margin-left: 8px;
}

.post-info>p {
    font-size: 12px;
    color: gray;
}

.post-body {
    overflow-wrap: anywhere;
}

.post-info>h2 {
    font-size: 16px;
}

.post-footer {
    display: flex;
    justify-content: space-evenly;
}